<ul class="list group-tree">
  <% groups.each do |group, children| %>
    <li>
      <% if children.any? %>
        <strong class="group-tree-has-subgroups"><%= link_to group.name, group %></strong>
        [<%= link_to 'Show this section', tree_group_path(group) %>]
        <%= render partial: 'tree_level', locals: { groups: children } %>
      <% else %>
        <%= link_to group.name, group %>
      <% end %>
    </li>
  <% end %>
</ul>
