<%= render partial: 'breadcrumbs', locals: { group: group } %>

<div class="grid-row mod-heading">
  <div class="column-full">
    <h1 class="heading-large mod-heading-border">All sub-teams of <%= group.name %></h1>
  </div>
</div>

<div class="grid-row">
  <div class="column-full">
    <p class="group-tree group-tree-has-subgroups">
      <%= link_to group.name, group %>
    </p>
    <%= render partial: 'tree_level', locals: { groups: tree[group] } %>
  </div>
</div>
