.ws-profile-edit__additional-email--hidden {
  display: none;
}

.ws-profile-edit__manager {
  select {
    width: 100%;
  }
}

.ws-profile-edit__photo {
  .croppr-container {
    border: $govuk-border-width solid $govuk-border-colour;
  }
}

.ws-profile-edit__photo-preview {
  box-sizing: border-box;

  width: 100%;
  margin-bottom: govuk-spacing(4);

  border: $govuk-border-width solid $govuk-border-colour;
}

.ws-profile-edit__photo-preview--error {
  height: 200px;

  background-image: url('data:image/svg+xml;utf8,<svg width="1em" height="1em" viewBox="0 0 16 16" fill="%23d4351c" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" d="M6.95.435c.58-.58 1.52-.58 2.1 0l6.515 6.516c.58.58.58 1.519 0 2.098L9.05 15.565c-.58.58-1.519.58-2.098 0L.435 9.05a1.482 1.482 0 0 1 0-2.098L6.95.435zm1.4.7a.495.495 0 0 0-.7 0L1.134 7.65a.495.495 0 0 0 0 .7l6.516 6.516a.495.495 0 0 0 .7 0l6.516-6.516a.495.495 0 0 0 0-.7L8.35 1.134z"/> <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/> </svg>');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60% auto;
  border: $govuk-border-width solid $govuk-error-colour;
}

.ws-profile-edit__skeleton-team {
  display: none;
}

.ws-profile-edit__team {
  @include govuk-responsive-margin(6, "top");
  @include govuk-responsive-margin(6, "bottom");
  @include govuk-font($size: 19, $line-height: 1.25);

  clear: both;

  padding: govuk-spacing(3);

  border: 1px solid govuk-colour("mid-grey", $legacy: "grey-2");
  box-shadow: 7px 7px 0 govuk-colour("white"), 8px 8px 0 govuk-colour("mid-grey", $legacy: "grey-2");

  > :first-child {
    margin-top: 0;
  }

  > :only-child,
  > :last-child {
    margin-bottom: 0;
  }
}

.ws-profile-edit__team .error-message {
  // We use a custom error message here and don't want the default Rails error on top
  display: none;
}

.ws-profile-edit__team--hidden {
  display: none;
}

.ws-profile-edit__team-leave {
  margin: govuk-spacing(2) 0 0 0;
}

// TODO: Hacky style overrides for Select2 component to make it look GOV.UK-y
.select2-dropdown {
  border: $govuk-border-width-form-element solid $govuk-input-border-colour;
  @include govuk-font($size: 19, $line-height: 1.25);
  border-radius: 0;
}

.select2-container--default .select2-selection--single {
  border: $govuk-border-width-form-element solid $govuk-input-border-colour;
  border-radius: 0;
}

.select2-container .select2-selection--single {
  @include govuk-font($size: 19, $line-height: 1.5);
  height: 40px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 38px;
}

.select2-result-person .select2-result-person__role {
  display: block;

  color: #444;
  font-size: 80%;
}

.select2-container--focus .select2-selection {
  outline: $govuk-focus-width solid $govuk-focus-colour;
  outline-offset: 0;
  box-shadow: inset 0 0 0 $govuk-border-width-form-element;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  margin-top: 4px;

  border-color: $govuk-input-border-colour transparent transparent transparent;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  @include govuk-font($size: 19);

  box-sizing: border-box;
  width: 100%;
  height: 40px;
  margin-top: 0;

  padding: govuk-spacing(1);

  border: $govuk-border-width-form-element solid $govuk-input-border-colour;
  border-radius: 0;
}

.select2-container--default .select2-search--dropdown .select2-search__field:focus {
  outline: $govuk-focus-width solid $govuk-focus-colour;
  outline-offset: 0;
  box-shadow: inset 0 0 0 $govuk-border-width-form-element;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: $govuk-link-colour;

  .select2-result-person__role {
    color: govuk-colour("light-grey");
  }
}

.govuk-form-group--error .select2-container--default .select2-selection--single {
  border: $govuk-focus-width solid $govuk-error-colour;
}
