header.govuk-header.govuk-header--ws[role="banner" data-module="govuk-header"]
  .govuk-header__container.govuk-header__container--ws.ws-width-container
    .govuk-header__logo.govuk-header__logo--ws
      = link_to home_page_link_helper, class: 'govuk-header__link govuk-header__link--homepage' do
        span.govuk-header__logotype.govuk-header__logotype--ws
          img[src=asset_pack_path('media/images/dit-logo.png') srcset="#{asset_pack_path('media/images/dit-logo@2x.png')} 2x" alt='Department for International Trade logo']

    .govuk-header__content.govuk-header__content--ws
      = link_to 'Digital Workspace', home_page_link_helper, class: 'govuk-header__link govuk-header__link--ws govuk-header__link--service-name govuk-header__link--service-name--ws'

      button.govuk-header__menu-button.govuk-header__menu-button--ws.govuk-js-header-toggle[type="button" aria-controls="navigation" aria-label="Show or hide Top Level Navigation"] Menu

      nav
        ul#navigation.govuk-header__navigation[aria-label="Top Level Navigation"]
          li.govuk-header__navigation-item
            = link_to 'News and views', home_page_link_helper('/news-and-views'), class: 'govuk-header__link govuk-header__link--ws'
          li.govuk-header__navigation-item
            = link_to 'Working at DIT', home_page_link_helper('/working-at-dit'), class: 'govuk-header__link govuk-header__link--ws'
          li.govuk-header__navigation-item
            = link_to 'About us', home_page_link_helper('/about-us'), class: 'govuk-header__link govuk-header__link--ws'
          li.govuk-header__navigation-item
            = link_to 'Tools', home_page_link_helper('/tools'), class: 'govuk-header__link govuk-header__link--ws'
          li.govuk-header__navigation-item
            = link_to 'Data Hub', home_page_link_helper('/working-at-dit/data-hub'), class: 'govuk-header__link govuk-header__link--ws'
          - if current_user.role_administrator?
            li.govuk-header__navigation-item
              = link_to 'Manage', admin_home_path, class: 'govuk-header__link govuk-header__link--ws'
          li.govuk-header__navigation-item.govuk-header__navigation-item--mobile-only
            = link_to "My profile (#{current_user.given_name})", person_path(current_user), class: 'govuk-header__link govuk-header__link--ws'

      .ws-legacy-workspace-search
        .ws-search-field
          = form_tag home_page_link_helper('search'), method: :get do
            label.govuk-visually-hidden[for="search-main"] Search site
            .ws-search-field__item-wrapper
              = search_field_tag :s, @query, class: 'ws-search-field__item ws-search-field__input', id: 'search-workspace', placeholder: 'Search site'
              .ws-search-field__item.ws-search-field__submit-wrapper
                = submit_tag 'Search Workspace', class: 'ws-search-field__submit'
